@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  color: #f5f1e3;
  background-color: #050505;
}

#app {
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #00bd7e;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    text-decoration: underline;
  }
}

